.range {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    position: relative;
    margin: auto;
    width: 40em;

}

.range .container {
    display: flex;
    flex-direction: row;
}

.range .title {

    font-family: "Lato", sans-serif;
    font-weight:700;
    color: #414141;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    align-self:start;
    cursor:default;
    
}

.range .description {
    color: #b6b6b6;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.1em;
    align-self: start;
    margin-top:auto;
    cursor:default;
}

.range .minmax {

    font-weight: 300;
    cursor:default;

}

.range .input {

    appearance: none;
    background: none;
    cursor: pointer;
    width: 22rem;
    border-radius: 0.5rem;
}


.range .input:focus {
    outline: none; 

}

.range .input::-webkit-slider-runnable-track {
    background-color: #9dbfff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  .range .input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -4px; 
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(158, 158, 158);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  .range .input:hover::-webkit-slider-thumb {
    outline: 3px solid #ffffff46;
    outline-offset: 0.1rem;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
  }



  .range .input::-moz-range-track {
    background-color: #9dbfff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }


.range .input::-moz-range-thumb {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgb(158, 158, 158);
    border: none; 
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;

}

.range .input:hover ::-moz-range-thumb {
    outline: 3px solid #ffffff46;
    outline-offset: 0.125rem;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
  }
.range :hover ::-moz-range-track {
    background-color: #5070ff;
    border-radius: 0.5rem;
    height: 0.5rem;
}


.range :hover::-webkit-slider-runnable-track {
    background-color: #5070ff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

@keyframes mousein {
    from {
        width: 4em;
        border-bottom-color: #9dbfff;
    }
    to {
        width: 5em;
        border-bottom-color: #5070ff;
    }
}



.range .current {
    outline: none;
    font-size: large;
    font-weight: 400;
    color: #414141;
    text-align: center;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 4em;
    border-bottom-color: #9dbfff;
    
}

.range .current:hover {
    animation: mousein 0.2s cubic-bezier(.69,.7,.69,.7) normal forwards;
}